<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>成都思应科技（App Cookies Ltd.）</h1>
		<p>我们是一家集研发、运营于一体的创新型科技公司.</p>
		<p>专注于手机游戏和移动互联网的自主开发，致力于精心打造构思新颖、品质高端的客户体验.</p>
		<p>公司位于春熙路中心商圈，拥有优越的地理位置、轻松舒适的办公环境.我们的团队氛围轻松自由，青春活跃，如果你是一个创意无限、踏实肯干的有志青年，请你饱含热情的加入到我们之中，让我们共同畅游于这魅力无限的时尚空间! <a href="http://www.appcookies.com/feedback/"> @AppCookies</a></p>
	</div>
</div>